:root { 
  --font-color: white;
  --font-color-darker: #ccc;
  --background-color: #141414;
  --accent-light-blue: #E4ECF1;
  --accent-yellow: #F3CE68;
  --accent-color: #F3CE68;
}

body { 
  color: var(--font-color);
  background-color: var(--background-color);
}

.accent-underline { 
  border-bottom: solid 2px var(--accent-color);
}
h1 { 
  font-size: 8rem;
}
.border { 
  border: solid 1px var(--accent-color);
  padding: 1%;
}
.text-center { 
  text-align: center;
}
a {
  color: var(--font-color);
}
a:hover {
  color: var(--font-color-darker);
}
.m-0 {
  margin: 0;
}
.mb-1 {
  margin-bottom: 10px;
}
.my-4 {
  margin: 25px 0;
}
.news {
  margin-bottom: 5px;
}
/* 
.slider { width: 100%; padding-bottom: 25%; }
.slider img { width: 100%; }
.wrapper { width: 100%; margin: 0; }
@media only screen and (min-width: 1024px) {
  .wrapper { width: 1024px; margin: auto; }
} */