:root { 
  --font-color: #1B3627;
  --background-color: #EFE8DF;
  --accent-light-blue: #E4ECF1;
  --accent-yellow: #F3CE68;
}

body { 
  color: var(--font-color);
  background-color: var(--background-color);
}

.accent-underline { 
  border-bottom: solid 2px var(--accent-yellow);
}
h1 { 
  font-size: 8rem;
}
.border { 
  border: solid 1px var(--accent-yellow);
  padding: 1%;
}
.text-center { 
  text-align: center;
}
.m-0 {
  margin: 0;
}
.mb-1 {
  margin-bottom: 10px;
}